@import "_variables.scss";

section#home {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  padding: 122px 50px 50px;
  background-image: url("/img/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  div.content {
    max-width: $siteWidth;
    margin: 0 auto;
    color: #fff;
  }
}
