section.search-results {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  background: white;
  padding: 50px;
  border-radius: 4px;
  box-shadow: 20px 20px 50px #111111;
  div.search-result {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #111111;
    &-description {
      width: 200px;
    }
    h4 {
      font-weight: 100;
    }
  }
}
.search-results-loader {
  width: 800px;
  height: 100vh;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
